.logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-accent);
}

@media only screen and (max-width: 768px) {
    .logo {
        font-size: 1rem;
        line-break: break-all;
    }
}

.connect-wallet:hover {
    opacity: 0.9;
}