@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* theme variables */
:root {
  --color-light: rgb(231, 245, 245);
  --color-gray: rgb(234, 230, 230);
  --color-dark: rgb(27, 31, 31);
  --color-accent: rgb(3, 163, 163);
}

/* root styles */
body {
  width: 75vw;
  margin: 0 auto;
  padding: 0;
  background-color: var(--color-light);
}

@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  transition: all ease-in-out 0.2s;
}

button {
  cursor: pointer;
}