@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* theme variables */
:root {
  --color-light: rgb(242, 249, 249);
  --color-gray: rgb(234, 230, 230);
  --color-dark: rgb(27, 31, 31);
  --color-accent: rgb(3, 163, 163);
}

/* root styles */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-light);
}

.App {
  width: 75vw;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.alert {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem; 
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .App {
    width: 100vw;
  }
}

@media only screen and (max-width: 548px) {
	body {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  transition: all ease-in-out 0.2s;
}

button {
  cursor: pointer;
}